.about-section-1 {
    &__wrapper--flex {
        max-width: 1044px;
        min-height: 361px;
        margin: 80px auto 0;
        display: flex;
    }
        &__wrap-1 {
            max-width: 640px;
        }
            &__h1 {
                @include some_text (42px,50px);
                color: $color-Accent_Red;
                margin-bottom: 20px;
            }
            &__p {
                margin-bottom: 40px;
                @include some_text (21px,30px);
            }
            &__p:last-child {
                margin: 0;
            }
        &__wrap-2 {
            max-height: 325px;
            border-left: 2px solid $color-Text_Grey;            
        }
            &__item {
                margin-bottom: 40px;
                margin-left: 20px;
            }
    &__wrapper--team {
        margin: 100px 0;
    }
}

.about-section-3 {
    &__wrapper--flex {
        max-width: 1095px;
        display: flex;
        gap: 40px;
    }
        &__p {
            margin-bottom: 40px;
            @include some_text (21px,30px);
        }
        &__h2 {
            @include some_text (42px,50px);
                color: $color-Accent_Red;
        }
        &__p:last-child {
            margin: 0;
        }
}

.about-section-4 {
    &__h2 {
        color: $color-Main;
    }
}

.carousel-about__wrapper {
    padding: 75px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}
.carousel-about__inner {    
    width: 300px;
}
.carousel-about__img {
    margin: auto;
}
.carousel-about__img {
    display: block;
    margin: auto;
    padding: 25px 0;
}