body{
    word-wrap: break-word;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    text-align: right;
    text-shadow: 0 0 3px red;
}
h2{
    text-align: center;
    text-shadow: 2px 3px red;
}
p{
    text-indent: 50px;
}
.r{
    color: red;
}
.col_pin{
    color: darkmagenta;
}
.one{
    font-style: italic;
}
.two{
    text-decoration: underline;
}
.tree{
    font-weight: 700;
}
.four{
    text-decoration: overline;
}
.five{
    text-transform: capitalize;
}
.ten{
    color: darkgreen;
    font-weight: 900;
}
.Khaletsky{
    background: yellow;
}
.I{
    background: yellowgreen;
}
.Lavrova{
    background: pink;
}
.Kachanov{
    background: orange;
}
.pagination {
    display: inline-block;
}
.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {background-color: #ddd;}