.section-6 {
    background-color: $color-Bg_Grey;
    padding-top: 40px;
    &__services-anchor {
        color: $color-Active;
    }
    &__services-anchor::after {
        padding-right: 2px;
        content: " \3E";
    }
    &__h2 {
        margin-bottom: 68px;
        background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    &__wrapper--position {
        position: relative;
    }
        &__wrapp--flex {
            position: relative;
            margin-top: 40px;
            display: flex;
            gap: 40px;
        }
            &__block {
                display: flex;
                flex-wrap: wrap;
                gap: 40px;
            }
                &__item--size {
                    max-width: 413px;
                    background-color: $color-White;
                    border-radius: 10px;
                }
                    &__img--size {
                        width: 100%;
                    }
                    &__anchor {
                        display: block;
                        margin: 20px 20px 10px 20px;
                    }
                    &__h4--style {
                        margin: 0 20px 20px;
                        font-size: 12px;
                        line-height: 14px;
                        letter-spacing: 1px;
                        text-transform: uppercase;
                        color: $color-Text_Grey;
                    }
                    &__item-line {
                        margin: 0 20px 0 20px;
                        background-color: $color-Separator_Grey;
                        height: 4px;
                    }
                    &__p {
                        margin: 20px;
                    }
        &__shadow--bg {
            position: absolute;
            height: 200px;
            left: 0px;
            right: 0px;
            bottom: 0px;
            background: linear-gradient(180deg, rgba(245, 245, 250, 0) 0%, #F5F5FA 86.5%);
        }
        &__inner-btn {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 40px;
            display: flex;
        }
            &__button--btn {
                margin: 0 auto;
                color: $color-White;
                background-color: $color-Active;
                width: 250px;
                height: 50px;
                border: none;
                border-radius: 12px;
                box-shadow: 0px 0px 20px rgb(36 163 255 / 50%);
            }
}

@media screen and (max-width: 376px) {
    .section-6__wrapp--flex {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column-reverse;
    }
}