.section-4 {
    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        border-radius: 2px;
    }
        &__item, &__item-1, &__item-2 {
            border: 1px solid white;
            background-color: $color-Bg_Grey;
        }
        &__h3 {
            color: $color-Main_Soft;
        }
        &__span {
            display: block;
            padding: 20px;
            color: $color-Text_Grey;
        }
        &__item-1 {
            border-radius: 10px 0;
        }
            &__item-inner1 {
                max-width: 433px;
                min-height: 57px;
                border-radius: 10px 0;
            }
                &__h3-iner1 {
                    padding: 20px;
                    background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            &__item-inner2 {
                max-width: 433px;
                min-height: 198px;
            }
                &__h3-inner2 {
                    padding: 48px 20px 0;
                }         
        &__item-2 {
            max-width: 454px;
            min-height: 255px;
        }
            &__h3-item-2 {
                padding: 105px 20px 0 20px;
            }
        &__item-3 {
            max-width: 433px;
            min-height: 255px;
            border-radius: 0 10px;
        }
            &__h3-item-3 {
                padding: 105px 20px 0 20px;
            }
        &__item-4 {
            max-width: 320px;
            min-height: 198px;
            border-radius: 0 0 0 10px;
        }
            &__h3-item-4 {
                padding: 20px 20px 0;
            }
        &__item-5 {
            max-width: 453px;
            min-height: 198px;
        }
            &__h3-item-5 {
                padding: 76px 20px 0;
            }
        &__item-6 {
            max-width: 547px;
            min-height: 198px;
            border-radius: 0 0 10px;
        }
            &__h3-item-6 {
                padding: 76px 20px 0;
            }
}