$color-Black: #000000;
$color-White: #FFFFFF;
$color-Background: #E5E5E5;
$color-Main: #323264;
$color-Main_Alt: #46466E;
$color-Main_Soft: #686887;
$color-Accent_Red: #F0145A;
$color-Active: #24A3FF;
$color-Active_Hover: #0085FF;
$color-Active_Active: #006CCF;
$color-Bg_Grey: #F5F5FA;
$color-Bg_Grey_Alt: #EDEDF7;
$color-Text_Grey: #B3B3BA;
$color-Separator_Grey: #E6E6F0;

$color-Gradinet: linear-gradient(128.63deg, #323264 0%, #323264 73.96%, #A54B5F 100%);
$color-Gradient_Soft: linear-gradient(42.01deg, #323264 14.33%, #323264 51.39%, #7A425E 87.53%);
$color-Gradinet_Red: linear-gradient(121.42deg, #F0145A 30.65%, #693264 107.33%); 
$color-Gradient_Supersoft: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
$color-Gradient_Red_Text: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
$color-Gradient_Icon: linear-gradient(180deg, #EF8080 0%, #F0145A 100%);
$color-Gradient_Text_Red_Reversed: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);